<div class="accordion-container">
  <h1>Frequently Asked Questions</h1>
  <p>Here are some of the frequently asked questions</p>

  <!-- Scorro tutte le domande dell'accordion -->
  @for (item of items; track item; let index = $index) {
    <!-- Passo al componente figlio i dati della singola domanda e indico se questa voce è aperta oppure no. Quando il figlio emette toggle, richiamo toggleItem(index) nel padre.-->
    <app-accordion-item
      [item]="item"
      [isOpen]="openIndex() === index"
      (toggle)="toggleItem(index)"
    ></app-accordion-item>
  }
</div>
